.postHead {
  margin-top: $HeadH;
  padding-top: $xl;
}

.postTextTocContent {
  li {
    a {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;
      padding: 6px;
      border-radius: 4px;
      &:hover {
        background: #8f959e;
        color: #f5f6f7;
      }
    }
    > ul {
      padding-left: 12px;
    }
  }
}

.postTextHtml {
  h1 {
    color: $N800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: $mini;
    margin: 24px 0 16px 0;
    font-weight: 500;
    border-bottom: 1px dashed $N300;
    &::before {
      content: "#";
      color: $N400;
      padding-right: $sm;
    }
  }
  h2 {
    font-size: 18px;
    line-height: 24px;
    padding-top: $sm;
    margin: $lg 0 $md 0;
    &::before {
      content: "##";
      color: $N400;
      padding-right: $sm;
    }
  }
  h3 {
    font-size: 16px;
    line-height: 22px;
    margin: $md 0 $mini 0;
    &::before {
      content: "###";
      color: $N400;
      padding-right: $sm;
    }
  }
  p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    color: $N800;
    letter-spacing: 0.02em;
    > code {
      background: $N800;
      color: $N300;
      padding: 2px $sm;
      border-radius: $mini;
    }
    > a {
      font-style: italic;
      text-decoration: underline;
      padding: 0 4px;
    }
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
  pre {
    background: $N800;
    border-radius: $mini;
    padding: $sm;
    width: 100%;
    overflow-x: auto;
    margin: $md 0;
    code {
      color: $N300;
      font-size: 14px;
    }
  }
  blockquote {
    border-left: 2px solid #8f959e;
    padding-left: 8px;
    p {
      color: #8f959e;
    }
  }
  ul {
    padding-left: 8px;
    > li > p{
      margin: 0;
      position: relative;
      padding-left: 20px;
      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background: $N400;
        left: 5px;
        top: 12px;
      }
    }
  }
}