.postTextTocContent {
  li {
    a {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;
      padding: 6px;
      border-radius: 4px;
      &:hover {
        background: #8f959e;
        color: #f5f6f7;
      }
    }
    > ul {
      padding-left: 12px;
    }
  }
}

.postTextHtml {
  h1 {
    font-size: 20px;
    line-height: 26px;
    margin: 24px 0 16px 0;
    font-weight: 500;
  }
  h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #1f2329;
    letter-spacing: 0.02em;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
  pre {
    background-color: #212121;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 8px;
    code {
      color: #aaaaaa;
      font-size: 14px;
    }
  }
  blockquote {
    border-left: 2px solid #8f959e;
    padding-left: 8px;
    p {
      color: #8f959e;
    }
  }
}